{% extends 'receipts/base.html' %}

{% block content %}
    <main>
        <div>
            <table>
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Number</th>
                        <th>Number of receipts</th>
                    </tr>
                </thead>
                <tbody>
                    {% for accounts in accounts %}
                    <tr>
                        <td> {{ accounts.name }}</td>
                        <td> {{ accounts.number }}</td>
                        <td> {{ accounts.receipts.all|length }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </main>
{% endblock content %}
