<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>List of Receipts</title>
</head>
<body>
    <header>
        <nav>
            <ul>
                <li>
                {% if user.is_authenticated %}
                    <a href="{% url 'logout' %}"> Logout</a>
                    <a href="{% url 'create_account' %}"> create_account</a>
                    <a href="{% url 'account_list' %}"> account_list</a>
                    <a href="{% url 'category_list' %}"> category_list</a>
                    <a href="{% url 'create_receipt' %}"> create_receipt</a>
                {% else %}
                    <a href="{% url 'signup' %}"> Sign Up</a>
                    <a href="{% url 'login' %}"> Login</a>
                {% endif %}
                </li>
            </ul>
        </nav>
    </header>
    {% block content %}
    {% endblock content %}
</body>
</html>

